{extend name="layouts@base" /}
{block name="head"}
<link rel="stylesheet" href="__STATIC__/unique/css/wallet.css"/>
<link rel="stylesheet" href="__STATIC__/unique/css/userData.css"/>
<link rel="stylesheet" href="__STATIC__/unique/css/orderDetails.css" />
<style>
    .iconBox{ display: none}
    .addType a{ color: #fff;}
</style>
{/block}
{block name="pageType"}takeOut{/block}
{block name="main" }
<div class="page-bd">
   <div class="goodslist">
       <ul></ul>
  </div>

    <div class="addType fs32 color_w fw_b BGcolor_r">
        <span><a href='{:url("bankAdd")}'>添加收款方式</a></span>
    </div>
</div>
      <!-- 支付方式 -->
      <div class="model">
          <div class="modelBg"></div>
          <div class="modelContent" style="height: auto">
            <div class="closeBox"><img src="__STATIC__/mobile/default/images/close_icon.png" alt=""></div>
            <div class="title fs36 color_3 fw_b">请选择账号类型</div>
            <div class="cantre">
            <label for="s12">
              <div class="block">
                  <div class="payType"><img src="__STATIC__/mobile/default/images/offlinePay.png" alt=""><div><span class="fs30 color_3">银行卡账号</span></div></div>
                  <div class="iconBox">
                    <input type="radio" class="check" name="radiobox" id="s12">
                    <i class="icon_checked"></i>
                  </div>
                </div>
            </label>
            <label for="s13">
              <div class="block">
                  <div class="payType"><img src="__STATIC__/unique/images/AliPay.png" alt=""><div><span class="fs30 color_3">支付宝账号</span></div></div>
                  <div class="iconBox">
                    <input type="radio" class="check" name="radiobox" id="s13" >
                    <i class="icon_checked"></i>
                  </div>                          
              </div>
            </label>
            <label for="s14">
                <div class="block">
                    <div class="payType"><img src="__STATIC__/unique/images/weixinPay.png" alt=""><div><span class="fs30 color_3">微信</span></div></div>
                    <div class="iconBox">
                        <input type="radio" class="check" name="radiobox" id="s14" >
                        <i class="icon_checked"></i>
                    </div>
                </div>
            </label>
            </div>
          </div>
      </div>

</div>
{literal}
<script type="text/html" id="liTpl">
    {{if list != ''}}
        {{each list as item index}}
        <li>
            <object>
                <div>
                    <div class="checkbox">
                        <a href="javascript:;" class="block">
                            <div class="block-left">
                                {{if item.type == 'bank'}}
                                <img class="paytypeIcon" src="__STATIC__/mobile/default/images/offlinePay.png" alt="">
                                {{else if item.type == 'alipay'}}
                                <img class="paytypeIcon" src="__STATIC__/unique/images/AliPay.png" alt="">
                                {{else}}
                                <img class="paytypeIcon" src="__STATIC__/unique/images/weixinPay.png" alt="">
                                {{/if}}
                                <div>
                                    <p>
                                        <span class="fs30 fw_b color_3">
                                            {{if item.type == 'bank'}}
                                                银行卡
                                            {{else if item.type == 'alipay'}}
                                                支付宝
                                            {{else}}
                                                微信
                                            {{/if}}
                                        </span>
                                        {{if item.is_default}}
                                        <span class="default">默认</span>
                                        {{/if}}
                                    </p>
                                    {{if item.type == 'bank'}}
                                    <p class="fs28 color_9">{{item.bank_card_number}}</p>
                                    {{else if item.type == 'alipay'}}
                                    <p class="fs28 color_9">{{item.alipay_account}}</p>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="block-right editor" data-account_id="{{item.account_id}}" data-type="{{item.type}}">
                                <img class="right-icon" src="__STATIC__/unique/images/rightIcon.png" alt="">
                            </div>
                        </a>
                        <div class="swiped BGcolor_3">
                            <div class="delect" data-account_id="{{item.account_id}}"><img src="__STATIC__/unique/images/delectIcon.png" alt=""></div>
                        </div>
                    </div>
                </div>

            </object>
        </li>
        {{/each}}
    {{else}}
        <div style="text-align: center;-webkit-box-flex: 1;-webkit-flex: 1; font-size: 0.213333rem;white-space: nowrap;overflow: hidden;font-weight: bold;">暂无提现方式，请点击下方按钮添加</div>
    {{/if}}
</script>
{/literal}
{/block}

{block name="footer"}
<script>
$('.left-arrow').attr('href','{:url("unique/member/index")}')
$(function() {
	$('.addType_').on('click',function(){
		$('.model').show();
	  })
	  $('.closeBox').on('click',function(){
		$('.model').hide();
	  })
	$('.model label').on('click',function(){
	  var index=$(this).index();
	  if(index==0){
		window.location.href='{:url("bankAdd")}'
	  }else if(index==1){
		window.location.href='{:url("alipayAdd")}'
	  }else{
        window.location.href='{:url("weixinAdd")}'
      }
	})
	//加载列表
	jq_ajax('{:url("unique/api.withdraw/getList")}','',function(res){
		if (res.code == 0){
			_alert(res.msg);
			return false;
		}
		$('.goodslist ul').html(template('liTpl', res));
		container();
	});
    //修改
    $('.goodslist').on('click','.editor',function(){
        var obj = $(this);
        if(obj.data('type') == 'bank'){
            window.location.href='{:url("bankAdd")}?account_id=' + obj.data('account_id');
        }else if(obj.data('type') == 'alipay'){
            window.location.href='{:url("alipayAdd")}?account_id=' + obj.data('account_id');
        }else{
            window.location.href='{:url("weixinAdd")}?account_id=' + obj.data('account_id');
        }
    })
	//删除
	$('.goodslist').on('click','.delect',function(){
		var obj = $(this);
		jq_ajax('{:url("unique/api.withdraw/delAccount")}','account_id='+obj.data('account_id'),function(res){
			if (res.code == 0){
				_alert(res.msg);
				return false;
			}
			obj.parents('li').remove();		
		});
	})
})

function container(){
	//侧滑显示删除按钮
	var expansion = null; //是否存在展开的list
	var container = document.querySelectorAll('.goodslist object');
	for(var i = 0; i < container.length; i++){    
		var x, y, X, Y, swipeX, swipeY;
		container[i].addEventListener('touchstart', function(event) {
			x = event.changedTouches[0].pageX;
			y = event.changedTouches[0].pageY;
			swipeX = true;
			swipeY = true ;
			if(expansion){   //判断是否展开，如果展开则收起
				expansion.className = "";
			}        
		});
		container[i].addEventListener('touchmove', function(event){
			
			X = event.changedTouches[0].pageX;
			Y = event.changedTouches[0].pageY;        
			// 左右滑动
			if(swipeX && Math.abs(X - x) - Math.abs(Y - y) > 0){
				// 阻止事件冒泡
				event.stopPropagation();
				if(X - x > 1){   //右滑
					event.preventDefault();
					this.className = "";    //右滑收起
				}
				if(x - X > 1){   //左滑
					event.preventDefault();
					this.className = "swipeleft";   //左滑展开
					expansion = this;
				}
				swipeY = false;
			}
			// 上下滑动
			if(swipeY && Math.abs(X - x) - Math.abs(Y - y) < 0) {
				swipeX = false;
			}        
		});
		container[i].addEventListener('touchend', function(event){
		  event.stopPropagation();      
		});
	}
}
</script>
{/block}