{extend name="layouts@base_unique" /}
{block name="head"}
<link rel="stylesheet" href="__STATIC__/unique/css/wallet.css"/>
{/block}
{block name='pageType'}chongzhi{/block}
{block name="main" }
<div class="page-bd">
    <!-- 页面内容-->
    <div class="inputBlock">
        <div class="tips fs28 color_3">提现金额</div>
        <div class="input">
            <div class="input-left">
                <em class="fs48 fw_b color_9 mr10">¥</em>
                <input type="text" class="fs60 num textBox" id="amount" value="0">
            </div>
            <span class="fs24 fw_b color_3" style="display: block">手续费<em class="withdraw_fee">0</em>元</span>
        </div>
        <div class="money">
            <div class="fs26 color_9">余额：<span class="color_3 num balance_money">{$userInfo['account']['balance_money']}</span></div>
            <p class="fs24 fw_b color_r tag_actives">全部提现</p>
        </div>
    </div>

    <div class="cells withdraw">
        <div class="cell current">
            <div class="cell_hd">
                <span class="fs28 color_3">提现至：</span>
                <img src="__STATIC__/unique/images/AliPay.png" alt="">
            </div>
            <div class="cell_bd">
                <span class="fs30 color_3">支付宝</span>
                <span class="fs26 color_9"></span>
            </div>
            <div class="cell_ft arrowright"></div>
        </div>
        <a href="{:url('unique/withdraw/bankadd')}" class="cell">
            <div class="cell_hd"><img src="__STATIC__/unique/images/icon_add.png" alt=""></div>
            <div class="cell_bd"><span class="fs30 color_r">添加收款账户</span></div>
        </a>
    </div>


    <div class="button fs32 fw_b color_w BGcolor_r postBtn">提现</div>
    <a href="{:url('lists')}"><div class="fs32 text_c color_9 mb30"><span>提现记录</span></div></a>

</div>
<!-- 提现方式 弹窗 -->
<div class="modal">
    <div class="paytype">
        <div class="title fs34 color_3 fw_b">请选择提现方式</div>
        <div class="cells banklist">
        </div>
        <div class="modal-btn">完成</div>
    </div>
</div>


{literal}
<script type="text/html" id="liTpl">
{{each list as item index}}
<div class="cell">
    {{if item.type == 'bank'}}
    <div class="cell_hd"><label for="s_{{item.account_id}}"><img src="__STATIC__/mobile/default/images/{{item.bank_code}}Bank.png" alt=""></label></div>
    <div class="cell_bd">
        <label for="s_{{item.account_id}}"><span class="fs30 color_3">{{item.bank_name}}</span></label>
        <label for="s_{{item.account_id}}"><span class="fs30 color_9">({{item.bank_card_number}})</span></label>
    </div>
    {{/if}}
    {{if item.type == 'alipay'}}
    <div class="cell_hd"><label for="s_{{item.account_id}}"><img src="__STATIC__/mobile/default/images/AliPay.png" alt=""></label></div>
    <div class="cell_bd">
        <label for="s_{{item.account_id}}"><span class="fs30 color_3">支付宝</span></label>
        <label for="s_{{item.account_id}}"><span class="fs30 color_9">({{item.alipay_account}})</span></label>
    </div>
    {{/if}}
    {{if item.type == 'wxpay'}}
    <div class="cell_hd"><label for="s_{{item.account_id}}"><img src="__STATIC__/mobile/default/images/weixinPay.png" alt=""></label></div>
    <div class="cell_bd">
        <label for="s_{{item.account_id}}"><span class="fs30 color_3">微信</span></label>
    </div>
    {{/if}}
    <div class="cell_ft">
        <label for="s_{{item.account_id}}">
            <div class="iconBox">
                <input type="radio" class="check" value="{{item.account_id}}" name="account_id" id="s_{{item.account_id}}" >
                <i class="icon_checked"></i>
            </div>
        </label>
    </div>
</div>
{{/each}}
</script>
{/literal}
{/block}

{block name="footer"}
<script>
var fd = new FormData();

$(function() {
    FastClick.attach(document.body);
    $('.paytype .title input').click(function (){
        $('.paytype .cells').addClass('hide');
        var paytype = $(this).val();
        if (paytype == 'wxpay' || paytype == 'alipay'){
            $('#file_box').removeClass('hide');
             $('.uploading').show();
        }else{
            $('#bank_box').removeClass('hide');
        }

    })
    //加载列表
	jq_ajax('{:url("api.withdraw/getList")}','',function(res){
		if (res.code == 0){
			_alert(res.msg);
			return false;
		}
		if(res.list.length >= 1){
            // console.log(res.list[0])

            $('.banklist').html(template('liTpl', res));
            container();
            // $('.modal .cell .modal-btn').eq(0).trigger('click');
            var parentCell = $('.modal .cell').eq(0);
            var imgSrc = parentCell.find('img').attr('src')
            var cell_bd = parentCell.find('.cell_bd').html()
            $('.withdraw .current').find('img').attr('src', imgSrc)
            $('.withdraw .current').find('.cell_bd').html(cell_bd)
            parentCell.find('input[name=account_id]').attr('checked','checked');
        }else{
            _alert('请先添加收款方式',"{:url('unique/withdraw/bankadd')}");
        }
	});

    $(".withdraw").on("click", '.current', function () {
        $(".modal").show();
    })
    //选择提现方式
    $('.modal .modal-btn').on('click', function() {
        $('.modal input').each(function() {
            if ($(this).prop('checked')) {
                var parentCell = $(this).parents('.modal .cell')
                var imgSrc = parentCell.find('img').attr('src')
                var cell_bd = parentCell.find('.cell_bd').html()

                $('.withdraw .current').find('img').attr('src', imgSrc)
                $('.withdraw .current').find('.cell_bd').html(cell_bd)
                $('.modal').hide()
            }
        })
    })
	//验证提现
	function evalFee(){
		var amount = $('#amount').val();
		if (amount < 0){
			$('.withdraw_fee').html(0);
			return false;
		}
		jq_ajax('{:url("api.withdraw/checkWithdraw")}','amount='+amount,function(res){
			if (res.code == 0){
				_alert(res.msg);
				return false;
			}
			$('.withdraw_fee').html(res.withdraw_fee);
		})
	}
	//提现金额变动执行
	$('#amount').change(function(){
		evalFee();
	})
	$('.tag_actives').click(function(){
		$('#amount').val($('.balance_money').html()).trigger('click');
		evalFee();
        // alert($('.balance_money').html());
	})
	//end
    var isPost = false;
	//提交提现申请
	$('.postBtn').click(function(){
	    if (isPost == true){
	        return false;
        }

		var arr = new Object();
		arr.account_id = $('input[name="account_id"]:checked').val();
		arr.amount = $('#amount').val();
		// arr.pay_password = $('#pay_password').val();
        // arr.account_type = $('input[name="account_type"]:checked').val();
		if (arr.amount < 1){
			_alert('请输入提现金额.');
			return false;
		}
        // if (arr.pay_password.length != 6){
        //     _alert('请写6位长度的支付密码.');
        //     return false;
        // }
		if (arr.account_id < 1 || arr.account_id == undefined){
			_alert('请选择提现账户.');
			return false;
		}

        fd.append("account_id", arr.account_id);
        fd.append("amount", arr.amount);
        // fd.append("pay_password", arr.pay_password);
        // fd.append("account_type", arr.account_type);
        isPost = true;
        $.ajax({
            url: '{:url("api.withdraw/postWithdraw")}',
            type: 'post',
            processData: false,
            contentType: false,
            data: fd,
            success: function (res) {
                isPost = false;
                _alert(res.msg);
                if (res.code == 0){
                    return false;
                }
                _alert(res.msg,'{:url("member/index")}')
            }
        })
	})
})
</script>
<script src="__STATIC__/mobile/default/js/uploadsimage.js?v=1"></script>
<script>
    //处理点击改变的调用函数-做IOS兼容
    $(_listenSelector).click(function(){
            var that = $(this);
            _uplocalfunction=function(base64Img){
                   fd.append("qrcodefile", base64Img);
                   $(that).parent().before('<div class="Box"><img src="'+base64Img+'" alt="" class="imgBox"><img src="__STATIC__/mobile/default/images/closeImg.png" alt="" class="closeImg" data-type="one"></div>');
                   $('#upload_qrcode_box').css('visibility','hidden');
                   //$(_listenSelector).hide();
            }
    })


</script>
{/block}