.page-bd {
  padding-bottom: 0.6rem;
}

.cells {
  margin: 0.133333rem;
  border-radius: 0.133333rem;
}

.cells .cell {
  padding-top: 0.133333rem;
  padding-bottom: 0.133333rem;
}

.cells .cell .label {
  width: 1.333333rem;
}

.cells .cell-date {
  padding-right: 0;
}

.cells .cell-date .cell_hd {
  margin-right: 0.133333rem;
}

.redenvType {
  display: inline-block;
  padding: 0.04rem;
  line-height: 1;
  color: #ffffff;
  font-size: 0.133333rem;
  border-radius: 0.066667rem;
  background-color: #FD0035;
}

.datetimer-1 {
  position: relative;
  display: inline-block;
  padding: 0 0.133333rem;
  font-size: 24;
  width: 1.6rem;
  height: 0.373333rem;
  border: 0.013333rem solid #e5e5e5;
  border-radius: 0.2rem;
}

.datetimer-1 input {
  width: 90%;
  height: 100%;
}

.datetimer-1::after {
  position: absolute;
  top: 0.08rem;
  right: 0.173333rem;
  content: ' ';
  width: 0.1rem;
  height: 0.1rem;
  border-top: 0.013333rem solid #999999;
  border-left: 0.013333rem solid #999999;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  z-index: 20;
}

.tip {
  position: absolute;
  bottom: 0.666667rem;
  left: 0;
  right: 0;
  padding: 0.266667rem;
  font-size: 0.16rem;
  color: #999999;
}

.bottom {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.066667rem 0.2rem;
  width: 100%;
  background-color: #ffffff;
}

.bottom .btn {
  width: 100%;
  height: 0.533333rem;
  line-height: 0.533333rem;
  text-align: center;
  font-size: 0.186667rem;
  color: #ffffff;
  background-color: #fd0035;
  border-radius: 0.266667rem;
}

.text {
  margin: 0 0.266667rem;
}