.nearbulletin {
  margin-bottom: 40rpx;
}

.nearbulletin .bulletin-list {
  padding: 0 0.2rem;
}

.nearbulletin .bulletin-list .list-item {
  margin: 0.133333rem 0;
  padding: 0.133333rem;
  min-height: 1.48rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 0.133333rem;
}

.nearbulletin .bulletin-list .list-item .bulletin-img {
  width: 1.493333rem;
  height: 0.933333rem;
}

.nearbulletin .bulletin-list .list-item .bulletin-info {
  margin: 0 0.133333rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  line-height: 0.293333rem;
}

.nearbulletin .bulletin-list .list-item .bulletin-info .bulletin-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.nearbulletin .bulletin-list .list-item .bulletin-info .news::after {
  content: '';
  display: inline-block;
  line-height: 1;
  width: 0.106667rem;
  height: 0.106667rem;
  background-color: #fd0035;
  border-radius: 50%;
}

.nearbulletin .bulletin-list .list-item .bulletin-info .bulletin-addr {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.nearbulletin .bulletin-list .list-item .bulletin-info .bulletin-enc {
  margin-top: 0.066667rem;
  padding: 0.013333rem 0.066667rem;
  text-align: right;
  font-size: 0.133333rem;
  border-radius: 0.133333rem;
}

.nearbulletin .bulletin-list .list-item .bulletin-distance .red-env {
  margin-top: 0.066667rem;
  width: 0.513333rem;
  height: 0.433333rem;
}

.systemNews {
  margin-bottom: 40rpx;
}

.systemNews .news-list {
  padding: 0 0.2rem;
}

.systemNews .news-list .list-item {
  margin: 0.133333rem 0;
  padding: 0.133333rem;
  min-height: 1.48rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 0.133333rem;
}

.systemNews .news-list .list-item .news-img {
  width: 1.493333rem;
  height: 0.933333rem;
}

.systemNews .news-list .list-item .news-info {
  margin: 0 0.133333rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  line-height: 0.293333rem;
}

.systemNews .news-list .list-item .news-info .news-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.systemNews .news-list .list-item .news-info .news::after {
  content: '';
  display: inline-block;
  line-height: 1;
  width: 0.106667rem;
  height: 0.106667rem;
  background-color: #fd0035;
  border-radius: 50%;
}

.systemNews .news-list .list-item .news-info .news-addr {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.systemNews .news-list .list-item .news-info .news-enc {
  margin-top: 0.066667rem;
  padding: 0.013333rem 0;
  text-align: left;
  font-size: 0.133333rem;
  border-radius: 0.133333rem;
}

.systemNews .news-list .list-item .news-distance .red-env {
  margin-top: 0.066667rem;
  width: 0.513333rem;
  height: 0.433333rem;
}