.collectpage .header .header-left {
  width: 0.466667rem;
}

.collectpage .header .header-title {
  -webkit-box-flex: 0;
  -webkit-flex: none;
          flex: none;
}

.collect {
  margin-bottom: 40rpx;
}

.collect .collect-list {
  padding: 0 0.133333rem;
}

.collect .collect-list .list-item {
  margin: 0.133333rem 0;
  padding: 0.133333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0.133333rem;
}

.collect .collect-list .list-item .collect-img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.066667rem;
}

.collect .collect-list .list-item .collect-info {
  margin-left: 0.133333rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.collect .collect-list .list-item .collect-info .collect-name {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.collect .collect-list .list-item .collect-info .news::after {
  content: '';
  display: inline-block;
  line-height: 1;
  width: 0.106667rem;
  height: 0.106667rem;
  background-color: #fd0035;
  border-radius: 50%;
}

.collect .collect-list .list-item .collect-info .collect-enc {
  margin-top: 0.066667rem;
  padding: 0.013333rem 0.066667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  font-size: 0.133333rem;
  border-radius: 0.133333rem;
}

.collect .collect-list .list-item .collect-info .collect-enc .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.collect .collect-list .list-item .collect-info .collect-enc .price .now-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.collect .collect-list .list-item .collect-info .collect-enc .price .old-price {
  margin-left: 0.066667rem;
  color: #999999;
  font-size: 0.16rem;
  text-decoration: line-through;
}

.collect .collect-list .list-item .collect-info .collect-enc .cancel {
  padding: 0.026667rem 0.106667rem;
  color: #999999;
  border: 0.013333rem solid #e5e5e5;
  border-radius: 0.2rem;
}

.collect .collect-list .list-item .collect-distance .red-env {
  margin-top: 0.066667rem;
  width: 0.513333rem;
  height: 0.433333rem;
}

.trace {
  margin-bottom: 40rpx;
}

.trace .trace-list {
  padding: 0 0.133333rem;
}

.trace .trace-list .list-item {
  margin: 0.133333rem 0;
  padding: 0.133333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0.133333rem;
}

.trace .trace-list .list-item .trace-img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.066667rem;
}

.trace .trace-list .list-item .trace-info {
  margin-left: 0.133333rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.trace .trace-list .list-item .trace-info .trace-name {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.trace .trace-list .list-item .trace-info .news::after {
  content: '';
  display: inline-block;
  line-height: 1;
  width: 0.106667rem;
  height: 0.106667rem;
  background-color: #fd0035;
  border-radius: 50%;
}

.trace .trace-list .list-item .trace-info .trace-enc {
  margin-top: 0.066667rem;
  padding: 0.013333rem 0.066667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  font-size: 0.133333rem;
  border-radius: 0.133333rem;
}

.trace .trace-list .list-item .trace-info .trace-enc .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.trace .trace-list .list-item .trace-info .trace-enc .price .now-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.trace .trace-list .list-item .trace-info .trace-enc .price .old-price {
  margin-left: 0.066667rem;
  color: #999999;
  font-size: 0.16rem;
  text-decoration: line-through;
}

.trace .trace-list .list-item .trace-info .trace-enc .cancel {
  padding: 0.026667rem 0.106667rem;
  color: #999999;
  border: 0.013333rem solid #e5e5e5;
  border-radius: 0.2rem;
}

.trace .trace-list .list-item .trace-distance .red-env {
  margin-top: 0.066667rem;
  width: 0.513333rem;
  height: 0.433333rem;
}