.sousuo .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0.2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.sousuo .top .inputBox {
  padding: 0 0.2rem;
  width: 4rem;
  height: 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #fff;
}

.sousuo .top .inputBox img {
  width: 0.226667rem !important;
  height: 0.226667rem;
}

.sousuo .top .inputBox input {
  margin-left: 0.133333rem;
  width: 90%;
}

.sousuo .top input::-webkit-input-placeholder {
  color: #999;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 0.2rem;
}

.sousuo .top .search {
  display: inline-block;
  padding: 0.066667rem;
  line-height: 1;
  color: #ffffff;
  background-color: #fd0035;
  border-radius: 0.066667rem;
}

.sousuo .history {
  background-color: #fff;
  padding: 0.2rem;
}

.sousuo .history .title {
  height: 0.613333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 0.066667rem;
}

.sousuo .history .list {
  overflow: hidden;
}

.sousuo .history .list span {
  width: 1.466667rem;
  height: 0.466667rem;
  margin-bottom: 0.106667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-right: 0.1rem;
  float: left;
  border: 0.013333rem solid #e5e5e5;
  border-radius: 0.04rem;
}

.sousuo .history .list span:nth-child(3n) {
  margin-right: 0;
}

.sousuo .hot {
  margin-top: 0.133333rem;
}

.sousuo .hot .twe {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.sousuo .hot p {
  width: 2.253333rem;
  height: 0.466667rem;
  background: #faf6f5;
  margin-bottom: 0.106667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-right: 0.093333rem;
  color: #f65236;
  float: left;
}

.sousuo .hot .list span {
  margin-right: 0.1rem;
}

.sousuo .hot p:nth-child(2) {
  margin-right: 0;
}

.hot-city {
  margin: 0 0.133333rem 0.133333rem;
  padding: 0.266667rem 0.133333rem;
  background-color: #fff;
  border-radius: 0.2rem;
}

.hot-city .current-city {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.hot-city .current-city .icon {
  display: inline-block;
  width: 0.333333rem;
  height: px;
  vertical-align: middle;
}

.hot-city .other-city {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.hot-city .other-city span {
  margin-top: 0.133333rem;
  width: 0.933333rem;
  height: 0.36rem;
  text-align: center;
  line-height: 0.36rem;
  border: 0.013333rem solid #e5e5e5;
  border-radius: 0.053333rem;
}

.city-list {
  margin: 0 0.133333rem 0.2rem;
}

.city-list .list-item .title {
  padding: 0.066667rem;
}

.city-list .city-name-list {
  padding: 0 0.206667rem;
  background-color: #fff;
  border-radius: 0.133333rem;
}

.city-list .city-name-list .city-name {
  padding: 0.246667rem 0;
  border-bottom: 0.013333rem solid #e5e5e5;
}

.city-list .city-name-list .city-name:last-child {
  border: none;
}

.letter-index {
  position: fixed;
  top: 1.333333rem;
  right: 0.133333rem;
}

.letter-index a {
  padding: 0 0.066667rem;
  color: #999999;
}

.letter {
  display: none;
  position: fixed;
  top: 40%;
  left: 45%;
  margin-left: -0.133333rem;
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.2rem;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}