.nearShop {
  margin-bottom: 40rpx;
}

.nearShop .shop-list {
  padding: 0 0.2rem;
}

.nearShop .shop-list .list-item {
  margin: 0.133333rem 0;
  padding: 0.133333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 0.133333rem;
}

.nearShop .shop-list .list-item .shop-img {
  width: 0.933333rem;
  height: 0.933333rem;
}

.nearShop .shop-list .list-item .shop-info {
  margin: 0 0.133333rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  line-height: 0.293333rem;
}

.nearShop .shop-list .list-item .shop-info .shop-label span {
  padding: 0.013333rem 0.066667rem;
  color: #efb026;
  border: 0.013333rem solid #ffc23d;
  border-radius: 0.133333rem;
}

.nearShop .shop-list .list-item .shop-info .shop-enc span {
  margin-top: 0.066667rem;
  padding: 0.013333rem 0.066667rem;
  font-size: 0.133333rem;
  color: #fff;
  background-color: #fd0035;
  border-radius: 0.133333rem;
}

.nearShop .shop-list .list-item .shop-distance .red-env {
  margin-top: 0.066667rem;
  width: 0.513333rem;
  height: 0.433333rem;
}