{extend name="mainadmin@layouts/base" /}
{block name="main" }

<header class="header  b-b clearfix">
    <form id="forms" class="talbe-search form-inline "  method="post" action="{:url('getList')}" >
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>线下消费列表</strong>
                    <strong>消费实付总计:{$res.0.amounts}</strong>
                    <strong>消费订单总计:{$res.0.amount_actuals}</strong>
                </li>                                  
            </ul>
          <input type="text" class="form-control input-large" value="{$search.keyword}" name="keyword" placeholder="会员ID/帐号/手机" data-rule-required="true" />
          <button class="btn btn-sm btn-default-iq" type="submit" title="搜索"><i class="fa fa-search"></i></button>
         <!--<button class="btn" type="submit" id="export_btn" ><i class="fa fa-cloud-download"></i>导出报表</button>-->
         
    </div>
    </form>
</header>

<section class="scrollable wrapper w-f ">
    <section class="panel panel-default ">
        <div class="table-responsive " id="list_box">
            {include file="sys_admin/member_pay_record/list" /}
        </div>
    </section>
</section>
<script type="text/javascript">
    $('#export_btn').click(function(){
         $('.talbe-search').append('<input type="hidden" name="is_export" id="is_export" value="1">').submit();
         $('#is_export').remove();
    })

    $(document).on('click','.operatbtn',function(){
        $('#operating').val($(this).data('type'));
        $('.postBtn').click();
    })
</script>
{/block}
