<table class="table  table-hover  m-b-none">
    <thead>
    <tr>
        <th>下单用户ID</th>
        <th>订单流水号</th>
        <th>订单金额</th>
        <th>红包优惠</th>
        <th>订单实付金额</th>
        <th>鼓励金抵扣</th>
        <th>让利率</th>
        <th>货款</th>
        <th>下单时间</th>
        <th>返利详情</th>
    </tr>
    </thead>
    <tbody>
    {volist name="data.list" id="vo" }
    <tr>
        <td>{$vo.user_id}-{$vo.user_id|userInfo}</td>
        <td>{$vo.order_sn}</td>
        <td>{$vo.amount}</td>
        <td>{$vo.redbag_amount}</td>
        <td>{$vo.amount_actual}</td>
        <td>{$vo.balance_amount}</td>
        <td>{$vo.profits}%（{$vo.profits_money}元）</td>
        <td>{$vo.bill_money}</td>
        <td>{$vo.add_time|dateTpl}</td>
        <td>
            <a href="{:url('member/sys_admin.member_pay_record/rebate_log',array('log_id'=>$vo['log_id']))}" class="m-xs" title="查看订单">【点击查看】</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{empty name="data.list"}
<table width="100%" >
    <tr><td height="300" colspan="8" align="center" valign="middle">没有相关数据！</td></tr>
</table>
{/empty}