<table class="table table-bordered table-striped ">
<thead class="flip-content bordered-palegreen">
<thead>
<tr>
	<th width="80">ID</th>
    <th width="120">商家ID</th>
    <th width="120">商家用户ID</th>
    <th width="120">商家名称</th>
    <th width="120">二维码</th>
    <th width="160">创建时间</th>
    <th width="160">绑定时间</th>
    <th width="150">操作</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="vo" }
<tr>
	<td>{$vo.id}</td>
    <td>{$vo.business.business_id}</td>
    <td>{$vo.business.user_id}</td>
    <td>{$vo.business.business_name}</td>
    <td><a href="{$vo.ecode_url}" target="_blank">[查看]</a></td>
    <td>{$vo.add_time|dateTpl}</td>
    <td>{$vo.update_time|dateTpl}</td>
    <td>
        <a href="{:url('regenerate',array('id'=>$vo['id']))}" data-toggle="ajaxRemove" data-msg="确定重新生成图片？" class="fa fa-rotate-right text-muted m-xs" title="重新生成图片"></a>
        <a href="{:url('del',array('id'=>$vo['id']))}" data-toggle="ajaxRemove" data-msg="确定将收款码{$vo.supplyer_name}删除？" class="fa fa-trash m-xs" title="删除收款码"></a>
    </td>
</tr>
{/volist}
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}